
        div {
           border: 2px solid;
           padding: 20px; 
           width: 300px;
           resize: both;
           overflow: auto;
            }
              h.italic {
                    font-style: italic;
              }

              h {
                    font-size: 36 px;
              }
            .center {
                     text-align: center;
              }
           .p1 {
                    font-family: "Times New Roman", Times, serif;
              }
   
            mark {
                      background-color:blue;
                      color:pink;
                 }
